.message {
    color: #045793;
    font-weight: bold;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    text-align: left;
}
select, option, button, input {
    padding: 6px 12px;
    font-size: 16px;
    margin: 12px 0;
}
@media only screen and (min-width: 600px) {
    .form {
        width: 100%;
    }
}
.labelSubtext {
    display: inline-block;
    text-align: right;
    width: 200px;
}

.submit {
    margin-top: 40px;
}
label {
    width: 100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    padding: 10px;
}

.count {
    min-width: 100%;
    display: flex;
    gap: 32px;
}
.count > button {
    width: 50%;
}
