.header {
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    border-bottom: 2px solid black;
}

.header > span {
    font-size: 12px;
}
