.modalTitle {
    margin: 40px;
    display: flex;
    justify-content: center;
}

.modalButtonContainer {
    display: flex;
    gap: 30px;
    font-size: 24px;
    justify-content: center;
}
td {
    text-align: center;
}

.modalButtonContainer > button{
    padding: 15px 20px
}
.table {
    font-size: 16px;
}

.table td, .table th {
    padding: 4px
}

.currentDayRow {
    background: wheat;
}
